<div class="container-fluid">
    <div class="row align-items-center bg-light px-lg-5">
        <div class="col-12 col-md-8">
            <div class="d-flex justify-content-between">
                <div class="bg-primary text-white text-center py-2" style="width: 100px;">Contact :</div>
                <div class="owl-carousel owl-carousel-1 tranding-carousel position-relative d-inline-flex align-items-center ml-3" style="width: calc(100% - 100px); padding-left: 90px;">
                    <div class="text-truncate"><a class="text-secondary" href="">(+223) 94 12 14 15 /</a></div>
                    <div class="text-truncate"><a class="text-secondary" href="">63 10 80 97</a></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-right d-none d-md-block">
           Mali,Bamako,Sotuba ACI
        </div>
    </div>
    <div class="row align-items-center py-2 px-lg-5">
        <div class="col-lg-4">
            <a href="" class="navbar-brand d-none d-lg-block">
                <h1 class="m-0 display-5 text-uppercase"><span class="text-primary">{{ currentText.substring(0, 5) }}</span>{{ currentText.substring(5) }}</h1>
                
            </a>
        </div>
        <div class="col-lg-8 text-center text-lg-right">
            <img class="img-fluid" src="assets/img/Group 12.png"  alt="">
        </div>
    </div>
</div>
<div class="container-fluid p-0 mb-3">
    <nav class="navbar navbar-expand-lg bg-light navbar-light py-2 py-lg-0 px-lg-5">
        <a href="" class="navbar-brand d-block d-lg-none">
            <h1 class="m-0 display-5 text-uppercase"><span class="text-primary">Barra</span>Gniny</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-0 px-lg-3" id="navbarCollapse">
            <div class="navbar-nav mr-auto py-0">
                <a href=""  class="nav-item nav-link " routerLinkActive="active" routerLink="/accueil">ACCUEIL</a>
                <a href=""  class="nav-item nav-link " routerLinkActive="active" routerLink="/appeloffre">APPEL OFFRES</a>
                <a href=""  class="nav-item nav-link " routerLinkActive="active" routerLink="/offreemploi">OFFRES EMPLOI</a>
               
                
                
                <div class="nav-item dropdown"  >
                    <!-- <a *ngIf="user!=null" class="nav-link dropdown-toggle active" style="font-weight: bold; "   data-toggle="dropdown">{{loginData?.nom}}</a> -->
                    <a    class="nav-link dropdown-toggle"   data-toggle="dropdown">CVTHEQUE</a>
    
                    <div class="dropdown-menu rounded-0 m-0">
                        <a  class="dropdown-item" routerLink="/ajoutCV">PUBLIER MON CV</a>
                        <a  class="dropdown-item" routerLink="/cv">LISTE DES CV</a>
                      
                    </div>
                </div>
                <div class="nav-item dropdown"  >
                    <!-- <a *ngIf="user!=null" class="nav-link dropdown-toggle active" style="font-weight: bold; "   data-toggle="dropdown">{{loginData?.nom}}</a> -->
                    <a    class="nav-link dropdown-toggle"   data-toggle="dropdown">ANNUAIRE</a>
    
                    <div class="dropdown-menu rounded-0 m-0">
                        <a  class="dropdown-item" routerLink="/ajoutEntre">PUBLIER MON ENTREPRISE</a>
                        <a  class="dropdown-item" routerLink="/entreprise">LISTE DES ENTREPRISES</a>
                      
                    </div>
                </div>
                <div class="nav-item dropdown"  >
                    <!-- <a *ngIf="user!=null" class="nav-link dropdown-toggle active" style="font-weight: bold; "   data-toggle="dropdown">{{loginData?.nom}}</a> -->
                    <a    class="nav-link dropdown-toggle"   data-toggle="dropdown">OPPORTUNITE D'AFFAIRE</a>
    
                    <div class="dropdown-menu rounded-0 m-0">
                        <a  class="dropdown-item" routerLink="/ajoutaffaire">PUBLIER UNE OPPORTUNITE</a>
                        <a  class="dropdown-item" routerLink="/affaire">LISTE D'OPPORTUNITE</a>
                      
                    </div>
                </div>
                <div class="nav-item dropdown"  >
                    <!-- <a *ngIf="user!=null" class="nav-link dropdown-toggle active" style="font-weight: bold; "   data-toggle="dropdown">{{loginData?.nom}}</a> -->
                    <a    class="nav-link dropdown-toggle"   data-toggle="dropdown">PETITE ANONCE</a>
    
                    <div class="dropdown-menu rounded-0 m-0">
                        <a  class="dropdown-item" routerLink="/ajoutannonce">PUBLIER UNE ANNONCE</a>
                        <a  class="dropdown-item" routerLink="/annonce">LISTE D'ANNONCE</a>
                      
                    </div>
                </div>
              
                <a href="" class="nav-item nav-link" routerLinkActive="active" routerLink="/contact">CONTACT</a>
            </div>
            <div class="ml-auto" >
            
                <a href="" *ngIf="user==null"   class="nav-item nav-link " routerLinkActive="active" data-toggle="modal" data-target="#myModal"> <span><i class="fa fa-user" aria-hidden="true"></i></span> Connexion</a>
                <a href="" *ngIf="donne=='ADMIN'"   class="nav-item nav-link " routerLinkActive="active" routerLink="/admin"> <span><i class="fa fa-user" aria-hidden="true"></i></span> ADMIN</a>
                    <!-- <button type="button" routerLink="/login" class="btn btn-lg btn-block" style="background: #ED1C24; color: aliceblue; border-radius: 5px;display: block;margin: auto;">Connexion</button> -->
               
            </div>
            <div class="nav-item dropdown" *ngIf="user==null" style="border: 1px solid #ED1C24;" >
                <!-- <a *ngIf="user!=null" class="nav-link dropdown-toggle active" style="font-weight: bold; "   data-toggle="dropdown">{{loginData?.nom}}</a> -->
                <a    class="nav-link dropdown-toggle active" style="font-weight: bold;"   data-toggle="dropdown">Publier</a>

                <div class="dropdown-menu rounded-0 m-0">
                    <a  class="dropdown-item" routerLink="/Ajoutappel">Appel offre</a>
                    <a  class="dropdown-item" routerLink="/formulaire">Offre emploi</a>
                  
                </div>
            </div>
            <div class="nav-item dropdown" *ngIf="user!=null" style="border: 1px solid #ED1C24;" >
                <a  class="nav-link dropdown-toggle active" style="font-weight: bold; "   data-toggle="dropdown">{{loginData?.nom}}</a>
                <!-- <a *ngIf="user==null"   class="nav-link dropdown-toggle active" style="font-weight: bold;"   data-toggle="dropdown">Publier</a> -->

                <div class="dropdown-menu rounded-0 m-0">
                    <a  class="dropdown-item" routerLink="/Ajoutappel">Publier un appel offre</a>
                    <a  class="dropdown-item" routerLink="/formulaire">Publier une offre emploi</a>
                    <!-- <a class="dropdown-item" routerLink="/employeur">Espace employeur</a> -->
                    <a class="dropdown-item" routerLink="">Profil</a>
                    <a (click)="logOut()"  class="dropdown-item">Deconnexion</a>
                    <!-- <a href="#" class="dropdown-item">Menu item 3</a> -->
                </div>
            </div>
          
        </div>
    </nav>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content clearfix">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <div class="modal-body">
                <h3 class="title">Connexion</h3>
                <div>
                    <img style="display: block; margin: auto; width: 200px; margin-bottom: 10px;" src="assets/img/log-removebg-preview.png" alt="">
                </div>
                <form #loginForm="ngForm"  (ngSubmit)="connexion(loginForm)">
                <!-- <p class="description">Login here Using Email & Password</p> -->
                <div class="form-group">
                   
                    <span class="input-icon"><i class="fa fa-user"></i></span>
                    <input type="text" class="form-control"  name="email" ngModel
                    placeholder="email"   #login="ngModel" required [ngClass]="{'is-invalid': login.invalid && login.touched}" >
                    <!-- <div *ngIf="login.invalid && (login.dirty || login.touched)"
                    class="text-danger">

                        <div style="font-size: 12px;" *ngIf="login.errors?.['required']">
                            Identifiant est obligatoire
                        </div>

                  </div> -->
                </div>
                <div class="form-group">
                    <span class="input-icon"><i class="fas fa-key"></i></span>
                    <input type="password" class="form-control" placeholder="Password" name="password" ngModel placeholder="Mot de passe" pattern="[a-z0-9._%+-]{2,20}" #password="ngModel" required [ngClass]="{'is-invalid': password.invalid && password.touched}">
                    
                </div>
                <div class="form-group checkbox">
                    <!-- <input type="checkbox">
                    <label>Remamber me</label> -->
                </div>
                <a href="" class="forgot-pass">Forgot Password?</a>
                <button class="btn" type="submit">Login</button>
                <p style="margin-top: 10px; margin-bottom: -2px;" data-dismiss="modal" aria-label="Close">Avez-vous un compte ? <a routerLink="/inscription">Creer un compte</a></p>
            </form>
            </div>
        </div>
    </div>
</div>