<div class="container-fluid bg-light pt-5 px-sm-3 px-md-5">
    <div class="row">
        <div class="col-lg-3 col-md-6 mb-5">
            <a href="index.html" class="navbar-brand">
                <h1 class="mb-2 mt-n2 display-5 text-uppercase"><span class="text-primary">BARRA</span>GNINY</h1>
            </a>
            <p>Trouvez l'emploi de vos rêves et saisir des belles oportunités</p>
            <div class="d-flex justify-content-start mt-4">
                <a class="btn btn-outline-secondary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-outline-secondary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-outline-secondary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-outline-secondary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-instagram"></i></a>
                <a class="btn btn-outline-secondary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h4 class="font-weight-bold mb-4">Categories Ofrres Emploi</h4>
            <div class="d-flex flex-wrap m-n1">
                <a  class="btn btn-sm btn-outline-secondary m-1">Administration</a>
                <a  class="btn btn-sm btn-outline-secondary m-1">Banque</a>
                <a  class="btn btn-sm btn-outline-secondary m-1">Assurance</a>
                <a  class="btn btn-sm btn-outline-secondary m-1">Construction</a>
                <a  class="btn btn-sm btn-outline-secondary m-1">Finances</a>
                <a  class="btn btn-sm btn-outline-secondary m-1">Commerce</a>
                <a  class="btn btn-sm btn-outline-secondary m-1">Vente</a>
                <a  class="btn btn-sm btn-outline-secondary m-1">Communication</a>
                <a  class="btn btn-sm btn-outline-secondary m-1">Marketing</a>
                <a  class="btn btn-sm btn-outline-secondary m-1">Animation</a>
                <a  class="btn btn-sm btn-outline-secondary m-1">Compatabilité</a>
                <a class="btn btn-sm btn-outline-secondary m-1">Economie</a>
                <a class="btn btn-sm btn-outline-secondary m-1">Education</a>
                <a class="btn btn-sm btn-outline-secondary m-1">Mines</a>
                <a class="btn btn-sm btn-outline-secondary m-1">Ressources Humaines</a>
                <a class="btn btn-sm btn-outline-secondary m-1">Autres</a>
                

                
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h4 class="font-weight-bold mb-4">Categorie Appel d'offres</h4>
            <div class="d-flex flex-wrap m-n1">
                <a  class="btn btn-sm btn-outline-secondary m-1">Annulation d'annonce</a>
                <a  class="btn btn-sm btn-outline-secondary m-1">Appel à proposition</a>
                <a  class="btn btn-sm btn-outline-secondary m-1">Avis d'annulation</a>
                <a  class="btn btn-sm btn-outline-secondary m-1">Avis d'appel à projet</a>
                <a  class="btn btn-sm btn-outline-secondary m-1">Avis d'appel d'offres</a>
                <a  class="btn btn-sm btn-outline-secondary m-1">Avis d'appel d'offres international</a>
                <a  class="btn btn-sm btn-outline-secondary m-1">Avis d'atribution de marcher</a>
                <a  class="btn btn-sm btn-outline-secondary m-1">Avis de concours</a>
                <a  class="btn btn-sm btn-outline-secondary m-1">Avis de consultation</a>
                <a  class="btn btn-sm btn-outline-secondary m-1">Autres</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h4 class="font-weight-bold mb-4">Liens Rapides</h4>
            <div class="d-flex flex-column justify-content-start">
                <a routerLink="/offreemploi" class="text-secondary mb-2" ><i class="fa fa-angle-right text-dark mr-2"></i>Offres d'emploi</a>
                <a routerLink="/appeloffre" class="text-secondary mb-2" ><i class="fa fa-angle-right text-dark mr-2"></i>Appel d'offres</a>
                <a routerLink="/formulaire" class="text-secondary mb-2" ><i class="fa fa-angle-right text-dark mr-2"></i>Ajouter offres d'emploi</a>
                <a routerLink="/Ajoutappel" class="text-secondary mb-2" ><i class="fa fa-angle-right text-dark mr-2"></i>Ajouter appel d'offres</a>
                <a routerLink="/employeur" class="text-secondary mb-2" ><i class="fa fa-angle-right text-dark mr-2"></i>Employeur</a>
                <a routerLink="/contact" class="text-secondary" ><i class="fa fa-angle-right text-dark mr-2"></i>Contact</a>
            </div>
        </div>
    </div>
</div>