<app-header></app-header>
<app-caroussel></app-caroussel>
 <div class="container-fluid py-3">
        <div class="container">
            <div class="bg-white py-2 px-4 mb-3">
                <div class="row" style="display: flex; justify-content: space-between;">
                <h6 class="m-0" style="font-weight: bold;">APPEL D'OFFRE</h6>
                <button class="bt" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-paper-plane" aria-hidden="true"></i> Postuler</button>
                </div>
            </div>
           
           <section class="py-5">
  <div class="container">
    <div class="row gx-5">
      <aside class="col-lg-6">
        <div class="border rounded-6 mb-6 d-flex justify-content-center">
          <a data-fslightbox="mygalley" class="rounded-6" target="_blank" data-type="image">
            <img style="max-width: 100%; max-height: 100vh; min-width: 100%;" class="rounded-8 fit" [src]="list?.logo" />
          </a>
        </div>
      
      
      </aside>
      <main class="col-lg-6">
        <div class="ps-lg-3">
          <h4 class="title text-dark">
            {{list?.titre}} <br /> à {{list?.ville}}
           
          </h4>
          <div class="d-flex flex-row my-3">
            <div class="text-warning mb-1 me-2">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <span class="ms-1">
             
              </span>
            </div>
            <span class="text-muted" style="margin-right:5px; margin-left: 5px;">  Par </span>
            <span class="text-success ms-2">{{list?.nomEntreprise}}</span><span class="text-muted" style="margin-right:5px; margin-left: 5px;">  postuler avant le  </span><span class="text-success ms-2">{{list?.dateLimite}}</span>
          </div>

       

          <hr />

         <div class="row" style="display: flex; justify-content: space-around;">
          <a  class="btn btn-success shadow-0"> {{list?.categorieAppel?.nom}} </a>
          <a  class="btn btn-danger shadow-0" data-toggle="modal" data-target="#exampleModalCenter"> <i class="fa fa-paper-plane" aria-hidden="true"></i> Postuler</a>
        </div>
        
        </div>
      </main>
    </div>
  </div>
</section>


<section class="bg-light border-top py-4">
  <div class="container">
    <div class="row gx-4">
      <div class="col-lg-8 mb-4">
        <div class="border rounded-2 px-3 py-2 bg-white">
         
          <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
            <li class="nav-item d-flex" role="presentation">
              <a class="nav-link d-flex align-items-center justify-content-center w-100 active" id="content1-tab" data-toggle="tab" href="#content1" role="tab" aria-controls="content1" aria-selected="true">Description</a>
            </li>
            <li class="nav-item d-flex" role="presentation">
              <a class="nav-link d-flex align-items-center justify-content-center w-100" id="content2-tab" data-toggle="tab" href="#content2" role="tab" aria-controls="content2" aria-selected="false">Offre</a>
            </li>
            <li class="nav-item d-flex" role="presentation">
              <a class="nav-link d-flex align-items-center justify-content-center w-100" id="content3-tab" data-toggle="tab" href="#content3" role="tab" aria-controls="content3" aria-selected="false">Entreprise</a>
            </li>
            <li class="nav-item d-flex" role="presentation">
              <a class="nav-link d-flex align-items-center justify-content-center w-100" id="content4-tab" data-toggle="tab" href="#content4" role="tab" aria-controls="content4" aria-selected="false">Utilisateur</a>
            </li>
          </ul>
      
          <div class="tab-content" id="ex1-content">
            <div class="tab-pane fade show active" id="content1" role="tabpanel" aria-labelledby="content1-tab">
              <div [innerHTML]="list?.description">
              
              </div>
              <!-- <div class="row mb-2">
                <div class="col-12 col-md-6">
                  <ul class="list-unstyled mb-0">
                    <li><i class="fas fa-check text-success me-2"></i>Some great feature name here</li>
                    <li><i class="fas fa-check text-success me-2"></i>Lorem ipsum dolor sit amet, consectetur</li>
                    <li><i class="fas fa-check text-success me-2"></i>Duis aute irure dolor in reprehenderit</li>
                    <li><i class="fas fa-check text-success me-2"></i>Optical heart sensor</li>
                  </ul>
                </div>
               
              </div> -->
              <table class="table border mt-3 mb-2">
                <tr>
                  <th class="py-2" style="font-size: 14px;">Postuler:</th>
                  <td class="py-2" style="font-size: 12px;">{{list?.courrier}}</td>
                </tr>
               
              </table>
            </div>
            <div class="tab-pane fade mb-2" id="content2" role="tabpanel" aria-labelledby="content2-tab">
              {{list?.titre}}  à  <span class="text-success ms-2">{{list?.ville}}</span>
              
              <table class="table border mt-3 mb-2">
                <tr>
                  <th class="py-2" style="font-size: 14px;">Categorie:</th>
                  <td class="py-2" style="font-size: 12px;">{{list?.categorieAppel?.nom}}</td>
                </tr>
                <tr>
                  <th class="py-2" style="font-size: 14px;">Date de publication:</th>
                  <td class="py-2" style="font-size: 12px;">{{list?.dateCreation}}</td>
                </tr>
                <tr>
                  <th class="py-2" style="font-size: 14px;">Date de limite de dépos:</th>
                  <td class="py-2" style="font-size: 12px;">{{list?.dateLimite}}</td>
                </tr>
               
                <tr>
                  <th class="py-2" style="font-size: 14px;">Adresse</th>
                  <td class="py-2" style="font-size: 12px;">{{list?.ville}}</td>
                </tr>
              </table>
            </div>
            <div class="tab-pane fade mb-2" id="content3" role="tabpanel" aria-labelledby="content3-tab">
                Dans l'entreprise  <span class="text-success ms-2">{{list?.nomEntreprise}}</span>
              <table class="table border mt-3 mb-2">
                <tr>
                  <th class="py-2" style="font-size: 14px;">Notre site:</th>
                  <td class="py-2" style="font-size: 12px;">{{list?.site}}</td>
                </tr>
                <tr>
                  <th class="py-2" style="font-size: 14px;">Email</th>
                  <td class="py-2" style="font-size: 12px;">{{list?.courrier}}</td>
                </tr>
              </table>
            </div>
            <div class="tab-pane fade mb-2" id="content4" role="tabpanel" aria-labelledby="content4-tab">
              Publier par <span class="text-success ms-2">{{list?.utilisateur?.nom}}</span>
              <table class="table border mt-3 mb-2">
                <tr>
                  <th class="py-2" style="font-size: 14px;">Adresse :</th>
                  <td class="py-2" style="font-size: 12px;">{{list?.utilisateur?.localite}}</td>
                </tr>
                <tr>
                  <th class="py-2" style="font-size: 14px;">Telephone 1:</th>
                  <td class="py-2" style="font-size: 12px;">{{list?.utilisateur?.telephone1}}</td>
                </tr>
                <tr>
                  <th class="py-2" style="font-size: 14px;">Telephone 2</th>
                  <td class="py-2" style="font-size: 12px;">{{list?.utilisateur?.telephone2}}</td>
                </tr>
                <tr>
                  <th class="py-2" style="font-size: 14px;">Email:</th>
                  <td class="py-2" style="font-size: 12px;">{{list?.utilisateur?.email}}</td>
                </tr>
                
              </table>
            </div>
          </div>
        
        </div>
      </div>
      <div class="col-lg-4">
        <div class="px-0 border rounded-2 shadow-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Offres similaires</h5>
              <div class="d-flex mb-3" *ngFor="let item of listAppelOffre">
                <a href="#" class="me-3">
                  <img [src]="item.logo" style="width: 110px; height: 96px;" class="img-md img-thumbnail" />
                </a>
                <div class="info">
                  <a  class="nav-link mb-1">
                    {{item?.titre}} <br />  
                    <strong class="text-dark"> à {{item?.ville}}</strong>
                  </a>
                 
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header ftco-degree-bg">
          <button type="button" class="close d-flex align-items-center justify-content-center" data-dismiss="modal" aria-label="Close">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
        <div class="modal-body pt-md-0 pb-md-5 text-center">
          <h2>POSTULER</h2>
          <div class="icon d-flex align-items-center justify-content-center">
            <img src="assets/img/email.svg" alt="" class="img-fluid">
          </div>
          <h4 class="mb-2">Pour postuler envoyer votre candidature par mail à:</h4>
        
          <a [href]="list?.courrier">{{list?.courrier}}</a>
        </div>
      </div>
    </div>
  </div>
</section>
        </div>
    </div>
	
    <app-footer></app-footer>