<app-header></app-header>
<div class="con">
    <!-- <h1>moi</h1> -->
</div>
<div class="body">
<div class="container">
    <header>Proposer un appel d'offre</header>
    <p> Avez-vous déja un compte ?<span style="color:rgb(59, 59, 218)"> <a href=""> Connectez-vous</a> </span> pour proposer un appel d'offre.</p>
    <form [formGroup]="formgroup">
           
        <div >
            
            <div class="details personal">
                <span class="title">Details appel d'offre</span>
                <!-- <div class="fields1">
                    <div class="input-field">
                        <label>Full Name</label>
                        <input  type="file" size="20"  required>
                        
                    </div>
                    <div class="input-field">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                    
                </div> -->

                <div class="fields1">
                    <div class="input-field">
                        <label>Titre de l'appel d'offre</label>
                        <input type="text"  formControlName="titre" *ngIf="listoffre"  [(ngModel)]="listoffre.titre"  required>
                        <div *ngIf="formgroup.controls.titre.invalid && (formgroup.controls.titre.dirty || formgroup.controls.titre.touched) || submitted"
                        class="text-danger">

                            <div style="font-size: 12px;" *ngIf="formgroup.controls.titre.errors?.['required']">
                                titre de l'offre est obligatoire
                            </div>

                    </div>
                    </div>
                    <div class="input-field">
                        <label>Ville</label>
                        <input type="text" formControlName="ville" *ngIf="listoffre"  [(ngModel)]="listoffre.ville" placeholder="Par exemple Bamako" required>
                        <div *ngIf="formgroup.controls.ville.invalid && (formgroup.controls.ville.dirty || formgroup.controls.ville.touched) || submitted"
                        class="text-danger">

                            <div style="font-size: 12px;" *ngIf="formgroup.controls.ville.errors?.['required']">
                                ville est obligatoire
                            </div>

                    </div>
                    </div>
                    <div class="input-field">
                        <label>Date de limite de depot</label>
                        <input type="date" formControlName="dateLimite" *ngIf="listoffre"  [(ngModel)]="listoffre.dateLimite"  placeholder="Entrer Date de limite" required>
                        <div *ngIf="formgroup.controls.dateLimite.invalid && (formgroup.controls.dateLimite.dirty || formgroup.controls.dateLimite.touched) || submitted"
                        class="text-danger">

                            <div style="font-size: 12px;" *ngIf="formgroup.controls.dateLimite.errors?.['required']">
                                Date de limite est obligatoire
                            </div>

                    </div>
                    </div>

                    <div class="input-field">
                        <label>Categorie</label>
                        <select required formControlName="categorieAppel" *ngIf="listoffre"  [(ngModel)]="listoffre.categorieAppel">
                            <option value="">Choisir le type d'offre d'emploi</option>
                            
                            <option *ngFor="let item of listCategorieAppel" value="{{item.id}}">{{item.nom}}</option>

                        </select>
                        <div *ngIf="formgroup.controls.categorieAppel.invalid && (formgroup.controls.categorieAppel.dirty || formgroup.controls.categorieAppel.touched) || submitted"
                        class="text-danger">

                            <div style="font-size: 12px;" *ngIf="formgroup.controls.categorieAppel.errors?.['required']">
                              categorie de l'offre est obligatoire
                            </div>

                    </div>
                    </div>
                   
               
                    
                    <div class="input-field1">
                        <label>Contenu de l'appel d'offre</label>
                        
                        
                    </div>
                    <textarea formControlName="description" *ngIf="listoffre"  [(ngModel)]="listoffre.description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    <div *ngIf="formgroup.controls.description.invalid && (formgroup.controls.description.dirty || formgroup.controls.description.touched) || submitted"
                        class="text-danger">

                            <div style="font-size: 12px;" *ngIf="formgroup.controls.description.errors?.['required']">
                                description de l'offre est obligatoire
                            </div>

                    </div>
                </div>
            </div>

            <div class="details ID">
                <span class="title">Imformation de l'entreprise</span>

                <div class="fields1">
                    <div class="input-field">
                        <label>Nom de l'entreprise</label>
                        <input formControlName="nomEntreprise" *ngIf="listoffre"  [(ngModel)]="listoffre.nomEntreprise" type="text" placeholder="Saisir le nom de l'entreprise" required>
                        <div *ngIf="formgroup.controls.nomEntreprise.invalid && (formgroup.controls.nomEntreprise.dirty || formgroup.controls.nomEntreprise.touched) || submitted"
                        class="text-danger">

                            <div style="font-size: 12px;" *ngIf="formgroup.controls.nomEntreprise.errors?.['required']">
                                Le nom de l'entreprise est obligatoire
                            </div>

                    </div>
                    </div>

                    <div class="input-field">
                        <label>Le nom de la personne à contacter pour la gestion de l'annonce</label>
                        <input formControlName="nomPersonne" type="text" *ngIf="listoffre"  [(ngModel)]="listoffre.nomPersonne" placeholder="Entrer le nom" required>
                        <div *ngIf="formgroup.controls.nomPersonne.invalid && (formgroup.controls.nomPersonne.dirty || formgroup.controls.nomPersonne.touched) || submitted"
                        class="text-danger">

                            <div style="font-size: 12px;" *ngIf="formgroup.controls.nomPersonne.errors?.['required']">
                                Le nom de la personne est obligatoire
                            </div>

                    </div>
                    </div>

                    <div class="input-field">
                        <label>Site </label>
                        <input formControlName="site" type="text" *ngIf="listoffre"  [(ngModel)]="listoffre.site" placeholder="http://"  pattern="^((https?|ftp):\/\/)?([^\s\/?\.#]+\.?)+(\/[^\s]*)?$">
                        <div *ngIf="formgroup.controls.site.invalid && (formgroup.controls.site.dirty || formgroup.controls.site.touched)"
                        class="text-danger">

                            <div style="font-size: 12px;" *ngIf="formgroup.controls.site.errors?.['required']">
                               Url site est invalid
                            </div>
                            <div style="font-size: 12px;" *ngIf="formgroup.get('site').hasError('pattern')"
                       >
                            Le format url est incorrect.
                        </div>

                    </div>
                    </div>

                    <div class="input-field">
                        <label>E-mail </label>
                        <input formControlName="courrier" type="text" *ngIf="listoffre"  [(ngModel)]="listoffre.courrier" placeholder="diawara@gmail.com" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
                        <div *ngIf="formgroup.controls.courrier.invalid && (formgroup.controls.courrier.dirty || formgroup.controls.courrier.touched) || submitted"
                        class="text-danger">

                            <div style="font-size: 12px;" *ngIf="formgroup.controls.courrier.errors?.['required']">
                                E-mail est obligatoire
                            </div>
                            <div style="font-size: 12px;" *ngIf="formgroup.get('courrier').hasError('pattern')">
                                Le format de l'email est incorrect.
                            </div>

                    </div>
                    </div>

                    <div class="input-field">
                        <label>Numero de telephone </label>
                        <input formControlName="telephone" *ngIf="listoffre"  [(ngModel)]="listoffre.telephone" type="number" placeholder="Saisir le numero de telephone" required>
                        <div *ngIf="formgroup.controls.telephone.invalid && (formgroup.controls.telephone.dirty || formgroup.controls.telephone.touched) || submitted"
                        class="text-danger">

                            <div style="font-size: 12px;" *ngIf="formgroup.controls.telephone.errors?.['required']">
                                Le numero de telephone est obligatoire
                            </div>

                    </div>
                    </div>

                    <div class="input-field">
                        <label>Logo de l'entreprise</label>
                        <input formControlName="logo" type="file" size="20" (change)="uploadimg($event)" >
                        
                    </div>
                </div>

                <!-- <button class="nextBtn">
                    <span class="btnText">Next</span>
                    <i class="uil uil-navigator"></i>
                </button> -->
            </div> 
        </div>

        <div >
           

            <div class="details family">
               

                <div class="buttons">
                
                    <button class="backBtn" type="submit" (click)="UpdateAppelOffre()" style="background-color: #ED1C24; border: 1px solid #ED1C24; color: #ffffff;" >
                        <span class="btnText">Publier</span>
                        <!-- <i class="uil uil-navigator"></i> -->
                    </button>
                </div>
            </div> 
        </div>
    </form>
</div>
</div>
<app-footer></app-footer>