.carousel-container {
    position: relative;
    width: 100%;
    height: 300px; /* Ajustez la hauteur du carousel selon vos besoins */
    overflow: hidden;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .carousel-item {
    // flex: 0 0 100%;
    // width: 100%;
    // min-width: 100%;
    // height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    opacity: 0;
    transition: opacity 0.5s ease;
    transition: transform 0.5s ease;
  }
  
  .carousel-item.active {
    opacity: 1;
  }

  
  .fade-in-animation {
    animation: fade-in 1s ease;
  }
  
  .fade-out-animation {
    animation: fade-out 1s ease;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  .con{
    width: 100%;
    height: 200px;
    //background: url("/../assets/img/recherche-d-emploi-1140x400.jpg") no-repeat center / cover;
    
    position: relative;
  }