<app-header></app-header>
<app-caroussel></app-caroussel>
<div class="body">
<div class="container">
    <header>Publier votre Cv</header>
    <p> Avez-vous déja un compte ?<span style="color:rgb(59, 59, 218)"> <a routerLink="/inscription"> Connectez-vous</a> </span> pour publier.</p>
    <form [formGroup]="formgroup" (ngSubmit)="ajouterCv(formgroup)">
           
        <div >
            
            <div class="details personal">
                <!-- <span class="title">Details appel d'offre</span> -->
                <!-- <div class="fields1">
                    <div class="input-field">
                        <label>Full Name</label>
                        <input  type="file" size="20"  required>
                        
                    </div>
                    <div class="input-field">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                    
                </div> -->

                <div class="fields1">
                    <div class="input-field">
                        <label>Votre nom complet</label>
                        <input type="text" formControlName="nom" placeholder="nom complet" required>
                        <div *ngIf="formgroup.controls.nom.invalid && (formgroup.controls.nom.dirty || formgroup.controls.nom.touched) || submitted"
                        class="text-danger">

                            <div style="font-size: 12px;" *ngIf="formgroup.controls.nom.errors?.['required']">
                                nom de l'offre est obligatoire
                            </div>

                    </div>
                    </div>
                    <div class="input-field">
                        <label>Localisation</label>
                        <input type="text" formControlName="localisation" placeholder="Par exemple Bamako" required>
                        <div *ngIf="formgroup.controls.localisation.invalid && (formgroup.controls.localisation.dirty || formgroup.controls.localisation.touched) || submitted"
                        class="text-danger">

                            <div style="font-size: 12px;" *ngIf="formgroup.controls.localisation.errors?.['required']">
                                localisation est obligatoire
                            </div>

                    </div>
                    </div>
                    <div class="input-field">
                        <label>E-mail </label>
                        <input formControlName="email" type="text" placeholder="diawara@gmail.com" [value]="formgroup.get('email').value" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
                        <div *ngIf="formgroup.controls.email.invalid && (formgroup.controls.email.dirty || formgroup.controls.email.touched) || submitted"
                        class="text-danger">

                            <div style="font-size: 12px;" *ngIf="formgroup.controls.email.errors?.['required']">
                                E-mail est obligatoire
                            </div>
                            <div style="font-size: 12px;" *ngIf="formgroup.get('email').hasError('pattern')">
                                Le format de l'email est incorrect.
                            </div>

                    </div>
                    </div>

                    <div class="input-field">
                        <label>Categorie d'offre d'emploi</label>
                        <select formControlName="categorie" required >
                            <option value="">Choisir une categorie</option>
                            <option *ngFor="let item of listCategorie" [ngValue]="item">{{item.nom}}</option>
                        </select>
                        <div *ngIf="formgroup.controls.categorie.invalid && (formgroup.controls.categorie.dirty || formgroup.controls.categorie.touched) || submitted"
                        class="text-danger">

                            <div style="font-size: 12px;" *ngIf="formgroup.controls.categorie.errors?.['required']">
                               Categorie est obligatoire
                            </div>

                    </div>
                    </div>
                   
               
                    
                    <div class="input-field1">
                        <label>Contenu du CV</label>
                        
                        <!-- <textarea id="mytextarea" formControlName="contenu" class="form-control"  rows="3"></textarea> -->
                        <angular-editor formControlName="contenu" ></angular-editor>
                    </div>
                    
                    <div *ngIf="formgroup.controls.contenu.invalid && (formgroup.controls.contenu.dirty || formgroup.controls.contenu.touched) || submitted"
                        class="text-danger">

                            <div style="font-size: 12px;" *ngIf="formgroup.controls.contenu.errors?.['required']">
                                contenu de l'offre est obligatoire
                            </div>

                    </div>
                </div>
            </div>

            <div class="details ID">
                

                <div class="fields1">
                    <div class="input-field">
                        <label>Titre professionnel</label>
                        <input formControlName="titrepro" type="text" placeholder="Saisir le nom de l'entreprise" required>
                        <div *ngIf="formgroup.controls.titrepro.invalid && (formgroup.controls.titrepro.dirty || formgroup.controls.titrepro.touched) || submitted"
                        class="text-danger">

                            <div style="font-size: 12px;" *ngIf="formgroup.controls.titrepro.errors?.['required']">
                                Le titre professionnel est obligatoire
                            </div>

                    </div>
                    </div>

                    <div class="input-field">
                        <label>Numero de telephone </label>
                        <input formControlName="telephone" type="number" placeholder="Saisir le numero de telephone" required>
                        <div *ngIf="formgroup.controls.telephone.invalid && (formgroup.controls.telephone.dirty || formgroup.controls.telephone.touched) || submitted"
                        class="text-danger">

                            <div style="font-size: 12px;" *ngIf="formgroup.controls.telephone.errors?.['required']">
                                Le numero de telephone est obligatoire
                            </div>

                    </div>
                    </div>

             

                 
                    <div class="input-field">
                        <label>Photo</label>
                        <input formControlName="photo" type="file" size="20" (change)="uploadimg($event)" >
                        
                    </div>
                 

                    <div class="input-field">
                        <label>Fichier CV </label>
                        <input formControlName="fichier" type="file" size="20" (change)="uploadFile($event)" >
                        
                    </div>
                    
                    
                </div>
                <div formArrayName="formations" >
                    <span class="title">Formation</span>
                    <div *ngFor="let user of formgroup.get('formations').controls; let i = index">
                      <div [formGroupName]="i">
                        <div class="fields1">
                        <div class="input-field">
                            <label>Nom de l'etablissement</label>
                        <input formControlName="nomEtablissement" type="text" placeholder="Saisir le nom de l'etablissement" required>
                    </div>
                    <div class="input-field">
                        <label>Diplôme</label>
                        <input formControlName="diplome" type="text" placeholder="Diplôme" required>
                    </div>
                    <div class="input-field">
                        <label>Date de debut</label>
                        <input type="date" formControlName="dateDebut" max="{{ minDate }}" placeholder="Entrer Date de debut" required>
                     
                    </div>
                    <div class="input-field">
                        <label>Date de fin</label>
                        <input type="date" formControlName="dateFin" placeholder="Entrer Date de fin" required>
                     
                    </div>
              
                
                </div>
                
                        <!-- <button type="button" (click)="supprimerUtilisateur(i)">x</button> -->
                      </div>
                      <a style="color: #ED1C24;" (click)="supprimerFormation(i)">x</a>
                    </div>
                  </div>
                  <button type="button" (click)="ajouterFormation()">Ajouter une formation </button>
                <!-- <button class="nextBtn">
                    <span class="btnText">Next</span>
                    <i class="uil uil-navigator"></i>
                </button> -->
                <div formArrayName="cvexperiences" >
                    <span class="title">Experience</span>
                    <div *ngFor="let users of formgroup.get('cvexperiences').controls; let l = index">
                      <div [formGroupName]="l">
                        <div class="fields1">
                        <div class="input-field">
                            <label>Employeur</label>
                        <input formControlName="employeur" type="text" placeholder="Employeur" required>
                    </div>
                    <div class="input-field">
                        <label>Poste</label>
                        <input formControlName="poste" type="text" placeholder="Poste" required>
                    </div>
                    <div class="input-field">
                        <label>Date de debut</label>
                        <input type="date" formControlName="dateDebut" max="{{ minDate }}" placeholder="Entrer Date de debut" required>
                     
                    </div>
                <div class="input-field">
                    <label>Date de fin</label>
                    <input formControlName="date" type="date" placeholder="Entrer Date de fin" required>
                </div>
                    
                </div>
                        <!-- <button type="button" (click)="supprimerUtilisateur(i)">x</button> -->
                      </div>
                      <a style="color: #ED1C24;" (click)="supprimerExperience(l)">x</a>
                    </div>
                  </div>
                  <button type="button" (click)="ajouterExperience()">Ajouter une experience</button>

                  <div formArrayName="urls" >
                    <span class="title">URL</span>
                    <div *ngFor="let users of formgroup.get('urls').controls; let l = index">
                      <div [formGroupName]="l">
                        <div class="fields1">
                        <div class="input-field">
                            <label>Nom url</label>
                        <input formControlName="non" type="text" placeholder="google" required>
                    </div>
                    <div class="input-field">
                        <label>Url</label>
                        <input formControlName="url" type="text" placeholder="google.com" required>
                    </div>
                  
                </div>
                        <!-- <button type="button" (click)="supprimerUtilisateur(i)">x</button> -->
                      </div>
                      <a style="color: #ED1C24;" (click)="supprimerUrl(l)">x</a>
                    </div>
                  </div>
                  <button type="button" (click)="ajouterUrl()">Ajouter Url</button>
            </div> 
        </div>

        <div >
           

            <div class="details family">
               

                <div class="buttons">
                
                    <button class="backBtn" type="submit"  style="background-color: #ED1C24; border: 1px solid #ED1C24; color: #ffffff;" >
                        <span class="btnText"> <img *ngIf="loading===true" src="assets/img/Spinner-1s-200px (2).svg" width="40px" alt=""> Publier</span>
                        <!-- <i class="uil uil-navigator"></i> -->
                    </button>
                </div>
                
            </div> 
        </div>
    </form>
</div>
</div>
<app-footer></app-footer>