<app-header></app-header>
<p-toast></p-toast>
<!-- <p-button label="Submit" (click)="showSuccess()"></p-button> -->
<!-- <div class="container-fluid py-3">
    <div class="container">
        <div class="owl-carousel-2 carousel-item-3 position-relative">
            <div class="d-flex">
                <img src="assets/img/news-100x100-1.jpg" style="width: 80px; height: 80px; object-fit: cover;">
                <div class="d-flex align-items-center bg-light px-3" style="height: 80px;">
                    <a class="text-secondary font-weight-semi-bold" href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                </div>
            </div>
            <div class="d-flex">
                <img src="assets/img/news-100x100-2.jpg" style="width: 80px; height: 80px; object-fit: cover;">
                <div class="d-flex align-items-center bg-light px-3" style="height: 80px;">
                    <a class="text-secondary font-weight-semi-bold" href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                </div>
            </div>
            <div class="d-flex">
                <img src="assets/img/news-100x100-3.jpg" style="width: 80px; height: 80px; object-fit: cover;">
                <div class="d-flex align-items-center bg-light px-3" style="height: 80px;">
                    <a class="text-secondary font-weight-semi-bold" href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                </div>
            </div>
            <div class="d-flex">
                <img src="assets/img/news-100x100-4.jpg" style="width: 80px; height: 80px; object-fit: cover;">
                <div class="d-flex align-items-center bg-light px-3" style="height: 80px;">
                    <a class="text-secondary font-weight-semi-bold" href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="carousel-container">
    <div class="carousel">
      <div *ngFor="let image of images" class="carousel-item" [ngClass]="{'active': image === currentImage}">
        <img class="img-fluid h-100" [src]="image" alt="Carousel Image" style="object-fit: cover;">
      </div>
    </div>
  </div> -->
<div class="container-fluid py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="owl-carousel-2 carousel-item-3 position-relative mb-3 mb-lg-0">
                    <div class="position-relative overflow-hidden" style="height: 435px;">
                        <!-- <img class="img-fluid h-100" src="assets/img/recherche-d-emploi-1140x400.jpg" style="object-fit: cover;"> -->
                        <div class="carousel-container">
                        <div *ngFor="let image of images" class="carousel-item"  [ngClass]="{'active': image === currentImage}">
                            <img class="img-fluid h-100" [src]="image" alt="Carousel Image" >
                          </div>
                        </div>
                        <div class="overlay">
                            <div class="mb-1">
                                <!-- <a class="text-white" href="">Technology</a>
                                <span class="px-2 text-white">/</span>
                                <a class="text-white" href="">January 01, 2045</a> -->
                            </div>
                            <!-- <a class="h2 m-0 text-white font-weight-bold" href="">Trouvez l'emploi de vos rêves et saisir des belles oportunités</a> -->
                        </div>
                    </div>
                    <!-- <div class="position-relative overflow-hidden" style="height: 435px;">
                        <img class="img-fluid h-100" src="assets/img/news-700x435-2.jpg" style="object-fit: cover;">
                        <div class="overlay">
                            <div class="mb-1">
                                <a class="text-white" href="">Technology</a>
                                <span class="px-2 text-white">/</span>
                                <a class="text-white" href="">January 01, 2045</a>
                            </div>
                            <a class="h2 m-0 text-white font-weight-bold" href="">Sanctus amet sed amet ipsum lorem. Dolores et erat et elitr sea sed</a>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-4">
                
                <div class="d-flex align-items-center justify-content-between bg-light py-2 px-4 mb-3">
                    <h3 class="m-0">Nos services</h3>
                    <!-- <a class="text-secondary font-weight-medium text-decoration-none" (click)="presentToast()" >Voir tout</a> -->
                </div>
                <div class="position-relative overflow-hidden mb-3" style="height: 80px;">
                    <img class="img-fluid w-100 h-100" src="assets/img/Group 13.png" style="object-fit: cover;">
                    <a href=""  class="overlay align-items-center justify-content-center h4 m-0 text-white text-decoration-none" style="font-size: 16px; text-align: center;">
                        Publiez vos appels d'offre ou offres d'emploi
                    </a>
                </div>
                <div class="position-relative overflow-hidden mb-3" style="height: 80px;">
                    <img class="img-fluid w-100 h-100" src="assets/img/Group 13.png" style="object-fit: cover;">
                    <a href="" class="overlay align-items-center justify-content-center h4 m-0 text-white text-decoration-none" style="font-size: 16px;text-align: center;">
                        Publiez votre CV ou votre entreprise
                    </a>
                </div>
                <div class="position-relative overflow-hidden mb-3" style="height: 80px;">
                    <img class="img-fluid w-100 h-100" src="assets/img/Group 13.png" style="object-fit: cover;">
                    <a href="" class="overlay align-items-center justify-content-center h4 m-0 text-white text-decoration-none" style="font-size: 16px;text-align: center;">
                        Publiez vos opportunités d'affaires ou vos annonces
                    </a>
                </div>
                <div class="position-relative overflow-hidden" style="height: 80px;">
                    <img class="img-fluid w-100 h-100" src="assets/img/Group 13.png" style="object-fit: cover;">
                    <a href="" class="overlay align-items-center justify-content-center h4 m-0 text-white text-decoration-none" style="font-size: 16px;text-align: center;">
                        Creer vos compte 
                    </a>
                </div>
            </div>
           
        </div>
    </div>
</div>



<div class="container-fluid py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="d-flex align-items-center justify-content-between bg-light py-2 px-4 mb-3">
                            <h3 class="m-0" id="h3">Offres d'emplois</h3>
                            <!-- <a class="text-secondary font-weight-medium text-decoration-none" href="">View All</a> -->
                           
                                
                          
                            <select id="select" ngModel name="selectcat" (change)="onCategoryChange($event)" class="form-select">
                                <option value="" >Choisir une Categorie</option>
                                <option value="tout" >tout</option>
                            
                                <option *ngFor="let category of listCategorie" value="{{category.id}}">{{ category.nom }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12">
                 
                        
                            <div class="col-12" style="margin-bottom: 10px;">
                             
                                     <img style="display: block; margin: auto;" *ngIf="!listOffreEmploi" src="assets/img/Spinner-1s-287px.svg" alt="">
                                <div class="row p-2 bg-white border rounded mt-2 item-hover" *ngFor="let item of listOffreEmploi?.slice().reverse() | paginate: { itemsPerPage: 4, currentPage: p }" >
                                    <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" [src]="item.logo"></div>
                                    <div class="col-md-6 mt-1">
                                        <h6  ><a [routerLink]="'/detail/' + item.id" style="color: #39569E;">{{item.nomOffre}}</a></h6>
                                        <div class="d-flex flex-row">
                                            <app-side [stars]="item.averageRating" />
                                            <div class="rating-selection">
                                            
                                                <select [(ngModel)]="selectedStars" (change)="addRating(item.id)">
                                                    <option value="0" selected>Noté</option>
                                                    <option *ngFor="let option of [1, 2, 3, 4, 5]" [value]="option">{{ option }} étoile{{ option > 1 ? 's' : '' }}</option>
                                                  </select>
                                              
                                            </div>
                                            <!-- <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div> -->
                                        </div>
                                       
                                        <div class="mt-1 mb-1 spec-1"><span>{{item.localisation}}<br></span><span class="dot"></span><span></span><span class="dot"></span><span><br></span></div>
                                        <!-- <div class="mt-1 mb-1 spec-1"><span><a [href]="item.site">{{item.site}}</a><br></span><span class="dot"></span><span></span><span class="dot"></span><span><br></span></div> -->
                                        <!-- <p class="text-justify text-truncate para mb-0">{{item.description}}.<br><br></p> -->
                                        <p class="text-justify text-truncate para mb-0">{{ cleanHtml(item.description) }}</p>
                                    </div>
                                    <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                                        <div class="d-flex flex-row align-items-center">
                                            <h6 class="text-success mr-1" style="font-size: 14px;">Publier le : {{item.dateCreation}}</h6>
                                        </div>
                                        <h6 class="text-success" >Par : <span style="color: rgb(80, 80, 235);">{{item.nomEntreprise}}</span></h6>
                                        <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" style="font-weight: bold;" type="button">{{item.typeOffre}}</button><button class="btn btn-outline-primary btn-sm mt-2" type="button">Date de limite : <br> {{item.dateLimite}}</button></div>
                                    </div>
                                </div>
                                
                      
                           
                           
                            </div>
                            <pagination-controls style="text-align: center;" (pageChange)="p = $event"></pagination-controls>
                  
                </div>
                </div>
                
                <div class="mb-3 pb-3">
                    <a href=""><img class="img-fluid w-100" src="assets/img/Group 12.png" alt=""></a>
                </div>
                
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex align-items-center justify-content-between bg-light py-2 px-4 mb-3">
                          
                            <h3 class="m-0" id="h3">Appels d'offres</h3>
                            <!-- <a class="text-secondary font-weight-medium text-decoration-none" href="">View All</a> -->
                           
                                
                            <!-- <select  id="select" [(ngModel)]="selectedCategoryAppel" (change)="onCategoryAppelChange($event)" class="form-select">
                                <option selected [ngValue]="''">tout</option>
        
                                <option *ngFor="let category of listCategorieAppel" [ngValue]="category.id">{{ category.nom }}</option>
                            </select> -->
                            <select id="select" ngModel name="selectcat" (change)="onCategoryAppelChange($event)" class="form-select">
                                <option value="" >Choisir une Categorie</option>
                                <option value="tout" >tout</option>
                            
                                <option *ngFor="let category of listCategorieAppel" value="{{category.id}}">{{ category.nom }}</option>
                            </select>
                        
                        </div>
                    </div>
               
                    <div class="col-12">
                 
                           
                                <div class="col-12" style="margin-bottom: 10px;">
                                    <img style="display: block; margin: auto;" *ngIf="!listAppelOffre" src="assets/img/Spinner-1s-287px.svg" alt="">
                                   
                                    <div class="row p-2 bg-white border rounded mt-2 item-hover" *ngFor="let item of listAppelOffre?.slice().reverse() | paginate: { itemsPerPage: 4, currentPage: p }" >
                                        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" [src]="item.logo"></div>
                                        <div class="col-md-6 mt-1">
                                            <h6 ><a [routerLink]="'/detaiappel/' + item.id" style="color: #39569E;">{{item.titre}}</a></h6>
                                            <div class="d-flex flex-row">
                                                <app-side [stars]="item.averageRating" />
                                                <div class="rating-selection">
                                                
                                                    <select [(ngModel)]="selectedStarsAppelOffre" (change)="addRatingAppelOffre(item.id)">
                                                        <option value="0" selected>Noté</option>
                                                        <option *ngFor="let option of [1, 2, 3, 4, 5]" [value]="option">{{ option }} étoile{{ option > 1 ? 's' : '' }}</option>
                                                      </select>
                                                  
                                                </div>
                                                <!-- <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div> -->
                                            </div>
                                            <div class="mt-1 mb-1 spec-1"><span>{{item.ville}}<br></span><span class="dot"></span><span></span><span class="dot"></span><span><br></span></div>
                                            <!-- <div class="mt-1 mb-1 spec-1"><span><a [href]="item.site">{{item.site}}</a><br></span><span class="dot"></span><span></span><span class="dot"></span><span><br></span></div> -->
                                            
                                            <p class="text-justify text-truncate para mb-0">{{ cleanHtml(item.description) }}</p>
                                        </div>
                                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                                            <div class="d-flex flex-row align-items-center">
                                                <h6 class="text-success mr-1" style="font-size: 14px;">Publier le : {{item.dateCreation}}</h6>
                                            </div>
                                            <h6 class="text-success" >Par : <span style="color: rgb(80, 80, 235);">{{item.nomEntreprise}}</span></h6>
                                            <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" style="font-weight: bold;" type="button">{{item.categorieAppel.nom}}</button><button class="btn btn-outline-primary btn-sm mt-2" type="button">Date de limite : <br> {{item.dateLimite}}</button></div>
                                        </div>
                                    </div>
                                   
                                   
                                    <!-- <div class="row p-2 bg-white border rounded mt-2">
                                        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="assets/img/images (1).jpeg"></div>
                                        <div class="col-md-6 mt-1">
                                            <h5>Developpeur web et mobile</h5>
                                            <div class="d-flex flex-row">
                                                <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>310</span>
                                            </div>
                                            <div class="mt-1 mb-1 spec-1"><span>100% cotton</span><span class="dot"></span><span>Light weight</span><span class="dot"></span><span>Best finish<br></span></div>
                                            <div class="mt-1 mb-1 spec-1"><span>Unique design</span><span class="dot"></span><span>For men</span><span class="dot"></span><span>Casual<br></span></div>
                                            <p class="text-justify text-truncate para mb-0">There are many variations of passages of  Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.<br><br></p>
                                        </div>
                                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                                            <div class="d-flex flex-row align-items-center">
                                                <h6 class="text-success mr-1" style="font-size: 14px;">Publier le : 20/04/2023</h6>
                                            </div>
                                            <h6 class="text-success" >Par : <span style="color: rgb(80, 80, 235);">Giz Mali</span></h6>
                                            <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" style="font-weight: bold;" type="button">CDD</button><button class="btn btn-outline-primary btn-sm mt-2" type="button">Date de limite : 30/04/2023</button></div>
                                        </div>
                                    </div> -->
                                
                               
                               
                                </div>
                                <pagination-controls style="text-align: center;" (pageChange)="p = $event"></pagination-controls>
                      
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 pt-3 pt-lg-0">
                <!-- Social Follow Start -->
                <div class="pb-3">
                    <div class="bg-light py-2 px-4 mb-3">
                        <h3 class="m-0">Suivez-nous</h3>
                    </div>
                    <div class="d-flex mb-3">
                        <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none mr-2" style="background: #39569E;">
                            <small class="fab fa-facebook-f mr-2"></small><small>12,345 Fans</small>
                        </a>
                        <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none ml-2" style="background: #52AAF4;">
                            <small class="fab fa-twitter mr-2"></small><small>12,345 Followers</small>
                        </a>
                    </div>
                    <div class="d-flex mb-3">
                        <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none mr-2" style="background: #0185AE;">
                            <small class="fab fa-linkedin-in mr-2"></small><small>12,345 Connects</small>
                        </a>
                        <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none ml-2" style="background: #C8359D;">
                            <small class="fab fa-instagram mr-2"></small><small>12,345 Followers</small>
                        </a>
                    </div>
                    <div class="d-flex mb-3">
                        <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none mr-2" style="background: #DC472E;">
                            <small class="fab fa-youtube mr-2"></small><small>12,345 Subscribers</small>
                        </a>
                        <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none ml-2" style="background: #1AB7EA;">
                            <small class="fab fa-vimeo-v mr-2"></small><small>12,345 Followers</small>
                        </a>
                    </div>
                </div>
                <!-- Social Follow End -->

                <!-- Newsletter Start -->
                <div class="pb-3">
                    <div class="bg-light py-2 px-4 mb-3">
                        <h3 class="m-0">Publicité</h3>
                    </div>
                   
                </div>
                <!-- Newsletter End -->

                <!-- Ads Start -->
                <div class="mb-3 pb-3">
                    <a href=""><img class="img-fluid" src="assets/img/news-500x280-4.jpg" alt=""></a>
                </div>
                <!-- Ads End -->

                <!-- Popular News Start -->
                <div class="pb-3">
                    <div class="bg-light py-2 px-4 mb-3">
                        <h3 class="m-0">Recents</h3>
                    </div>
                    <div class="d-flex mb-3" *ngFor="let item of listOffreRecent?.slice(-3).reverse()">
                        <img [src]="item.logo" style="width: 100px;">
                        <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                            <div class="mb-1" style="font-size: 13px;">
                                <a href="">{{item.localisation}}</a>
                                <span class="px-1">/</span>
                                <span>le {{item.dateCreation}}</span>
                            </div>
                            <a class="h6 m-0" href="" style="font-size: 13px;">{{item.nomOffre}}</a>
                            <div class="mb-1" style="font-size: 13px;">
                                <a href="">Postuler avant le </a>
                                <span class="px-1">/</span>
                                <span>{{item.dateLimite}}</span>
                            </div>
                        </div>
                        <!-- <button style="background-color: #ED1C24; border: none; color: white; font-weight: bold;">{{item.typeOffre}}</button> -->
                    </div>
                    <div class="d-flex mb-3" *ngFor="let item of listAppelRecent?.slice(-3).reverse()">
                        <img [src]="item.logo" style="width: 100px;">
                        <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                            <div class="mb-1" style="font-size: 13px;">
                                <a href="">{{item.ville}}</a>
                                <span class="px-1">/</span>
                                <span>{{item.dateCreation}}</span>
                            </div>
                            <a class="h6 m-0" href="" style="font-size: 13px;">{{item.titre}}</a>
                            <div class="mb-1" style="font-size: 13px;">
                                <a href="">Postuler avant le </a>
                                <span class="px-1">/</span>
                                <span>{{item.dateLimite}}</span>
                            </div>
                        </div>
                        <!-- <button style="background-color: #ED1C24; border: none; color: white; font-weight: bold;">{{item.categorieAppel.nom}}</button> -->
                    </div>
                   
                    
                 
                </div>
                <!-- Popular News End -->

                <!-- Tags Start -->
              
                <!-- Tags End -->
            </div>
        </div>
    </div>
</div>
    <app-footer></app-footer>
    <div class="container-fluid py-4 px-sm-3 px-md-5">
        <p class="m-0 text-center">
            &copy; <a class="font-weight-bold" href="#">Your Site Name</a>. All Rights Reserved. 
			
			
			Designed by <a class="font-weight-bold" href="https://freewebsitecode.com">Free Website Code</a>
        </p>
    </div>